.footer-text {
    position: absolute;
    margin-bottom: 5px;
    margin-left: 30%;
    bottom: 0;
}
.footer-dash {
    position: absolute;
    font-size: .8rem;
    color: #FFF;
    bottom: 0;
    width: 100%;
    height: 34px;
    opacity: 1;
    background-color: #D7311C;
}