.menu-list{
  text-align: start;
}
.menu-li-img{
  position: absolute;
  margin-left: 20px;
}
.menu-li-text {
  margin-left: 67px;
  white-space: nowrap;
  color: #B3AFB3;
}
.menu-li-active{
  background-color: #F5B40026;
  border-left: 18px solid #EBAE1D;
}
.menu-li-text-active {
  margin-left: 50px;
  white-space: nowrap;
  color: #A5220C !important;
}
.navbar-brand {
  height: 100px !important;
}
.brand-logo {
  margin-left: 100px;
}
.is-one-fifth {
  padding: 0 !important;
}