@import "@/scss/_Colors.scss";

@media only screen and (max-width: 991px) {
    .div-dashMain {
        display: none;
    }
    .dashMenu{
        display: none !important;
    }
    .dashMainNav{
        display: none;
    }
    .footer-dash{
        display: none;
    }
    .dashNav{
        display: none;
    }
    .dashNavMens{
        display: none;
    }
    .div-dashMobile {
        display: block;
        background-color: $yellow-1;
    }
    .icon-nav-mobile{
        width: 35px;
        margin-top: -50px;
        margin-left: 15px;
    }
    .navbar-burger.burger{
        color: #EC8700;
        margin-right: 15px;
    }
    .navbar-menu{
        text-align: start;
        transform: 0.5s;
    }
    #nav-active{
        width:100%;
        position:fixed;
        z-index:1;
    }
    .menu-list{
        margin-left: 20px;
    }
    .menu-list > li > a > img{
        padding-right: 35px;
    }
    .profile-menu{
        margin-top: 40px;
        margin-left: -8px;
    }
    .profile-img-menu{
        width:45px;
        height:20px;
    }
    .profile-img-exit{
        margin-left: 240px;
    }
    .profile-name-menu{
        position: absolute;
        margin-top: -6px;
    }
    .profile-type-menu{
        position: absolute;
        margin-left: 46px;
        margin-top: -11px;
        font-size: 11px;
    }
    .dashMainMobile{
        background-color: $yellow-1;
    }
    .card-item{
        background: linear-gradient(285deg, #F5317F, #FF7C6E) !important;
        opacity: 1;
        margin-top: 15px;
        margin-left: 30px;
        margin-right: 30px;
        border-radius: 10px;
        height: 80px;
        color: $white;
        font-size: 19px;
        font-weight: bold;
        text-align: start;
        cursor: pointer;
    }
    .card-item-p{
        background: linear-gradient(285deg, #FF8359, #FFDF40) !important;
        opacity: 1;
    }
    .card-item-s{
        background: linear-gradient(285deg, $red-2, #EA5703, $yellow-g) !important;
        opacity: 1;
    }
    .card-i-align-img{
        padding-top: 23px;
        padding-left: 30px;
    }
    .card-i-align-text{
        position: absolute;
        white-space: nowrap;
        padding-top: 25px;
        padding-left: 20px;
    }
    .span-div-carousel {
        font-weight: bold;
        font-size: 18px;
        margin-left: -210px;
    }
    .carousel-slides{
        text-align: center;
        padding-top: 10px;
        height: 130px;
        padding-left: 80px;
        margin-left: -50px;
    }
    .carousel-item{
        background-color: $white;
        width: 120px;
        height: 100px;
        border-radius: 20px;
        box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.15);
        padding-top: 30px;
        white-space: nowrap;
        font-size: 12px;
        cursor: pointer;
    }
    .tabs{
        margin-top: 22px;
        background-color: $white;
        height: 60px;
    }
    .tabs li a{
        border-bottom-color: $yellow-g !important;
        border-bottom-width: 0ex;
    }
    .tabs li.is-active a{
        border-bottom-color: $yellow-g !important;
        border-bottom-width: 0.5ex;
    }
    .VueCarousel-dot-container{
        display: none !important;
    }
}
@media only screen and (min-width: 992px) {
    .div-dashMain {
        display: block;
    }
    .dash {
        display: block;
    }
    .footer-dash {
        display: block;
    }
    .dashNav {
        display: block;
    }
    .dashNavMens {
        display: block;
    }
    .div-dashMobile {
        display: none;
    }
    .icon-r {
        height: 90px;
        margin-top: 30px;
        margin-left: 55px;
    }
    .seeSimul {
        position: absolute;
        width: 320px;
        height: 250px;
        margin-top: 40px;
        margin-left: 745px;
        background: #f5fffa;
        box-shadow: 0px 3px 6px #00000029;
        opacity: 1;
    }
    .myRed {
        position: absolute;
        width: 320px;
        height: 250px;
        margin-top: 40px;
        margin-left: 388px;
        background: #f5fffa;
        box-shadow: 0px 3px 6px #00000029;
        opacity: 1;
    }
    .upRed {
        position: absolute;
        width: 310px;
        height: 250px;
        margin-top: 40px;
        margin-left: 40px;
        background: #f5fffa;
        box-shadow: 0px 3px 6px #00000029;
        opacity: 1;
    }
    .news-title {
        font-weight: bold;
        position: absolute;
        margin-top: 30px;
        margin-left: 25px;
        white-space: nowrap;
    }
    .news-link {
        position: absolute;
        color:$purple-1;
        margin-top: 55px;
        margin-left: 25px;
        font-size: .75rem;
    }
    .span-span{
        margin-left: 12px;
    }
    .span-news {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: .85rem;
        margin-left: 20px;
        line-height: 28px;
        color: $white;
        display:block;
        width:100%;
        min-width:1px;
    }
    .span-title {
        position: absolute;
        margin-top: 160px;
        margin-left: 40px;
        font-size: .8rem;
    }
    .div-icons {
        position: absolute;
        width: 65px;
        height: 65px;
        transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
        background-color: $white;
        border-radius: 20px;
        margin-top: 85px;
        margin-left: 40px;
        transform: .5s;
    }
    .lastP {
        height: 250px;
        margin-top: 40px;
        background: $white 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 6px #00000029;
        opacity: 1;
    }
    .library-title {
        font-weight: bold;
        position: absolute;
        margin-top: 30px;
        margin-left: 40px;
    }
    .library-icons {
        position: absolute;
        margin-top: 20px;
        margin-left: 20px;
        transform: rotate(-45deg);
    }
    .library {
        height: 250px;
        margin-top: 40px;
        margin-left: 40px;
        background: #f5fffa;
        box-shadow: 0px 3px 6px #00000029;
        opacity: 1;
    }
    .dashMain {
        position: absolute;
        top: 0;
        margin-top: 80px;
    }
    
    /* Hover Effects */ 
    
    .div-icons:hover{
        background-color: $grey-4;
        cursor: pointer;
    }
    .upIcon:hover{
        background-color: $white;
        opacity: .9;
    }
    .seeIcon:hover{
        background-color: $white;
        opacity: .9;
    }
    .myIcon:hover{
        background-color: $white;
        opacity: .9;
    }
    
    /* Gradient Colors - "Icons" */
    
    .upIcon{
        height: 150px;
        background: linear-gradient(294deg, $red-2, #EA5703, $yellow-g);
        transform: .9s;
    }
    .seeIcon{
        height: 150px;
        background: linear-gradient(294deg, #FF8359, #FFDF40);
        transform: .9s;
    }
    .myIcon{
        height: 150px;
        background: linear-gradient(294deg, #F5317F, #FF7C6E);
        transform: .9s;
    }
    .news{
        background: linear-gradient(110deg, #7596F6, #69ABF5);
    }
}