@import "@/scss/_Colors.scss";

@media only screen and (max-width: 600px) {
    .tt{
      display: none;
    }
    .logo-mobile{
      margin-top: -50px;
      margin-bottom: 80px;
    }
    .formLogin {
      display: none;
    }
    .footer-home{
      display: none;
    }
    .fields-custom{
      line-height: 45px;
    }
    .label-end{
      margin-left: 55px !important;
      color: $white !important;
      text-decoration-line: underline;
      font-weight: 200;
    }
    .label-end:hover{
      color: $white !important;
    }
    .btn-login{
      background-color: $red-1 !important;
      width: 210px !important;
      border-radius: 5px !important;
      border-color: $transparent !important;
    }
    .btn-login:hover{
      background-color: red !important;
    }
    ::placeholder {
      opacity: 1;
      font-size: 0.9rem;
      font-weight: 500;
    }
    .gradient-color-overlay {
      background: linear-gradient(226deg, #D9000FCC, #EA5703CC, #EBAE1DCC) !important;
      opacity: 1;
    }
    .background{
      background-size: cover !important;
      background-position-x: -400px !important;
    }
    .formLoginMobile {
      background-color:$transparent;
      width: 330px;
      height: 450px;
      position: absolute;
      color: $white;
      font-weight: bold;
      font-size: 17px;
      padding-left: 60px;
      padding-right: 60px;
      text-align: center;
    }
  }
  @media only screen and (min-width: 600px) {
    .formLogin{
      display: block;
      text-align: center;
    }
    .tt{
      display: none;
    }
    .btn-login{
      background-color: $yellow-g !important;
    }
    .formLoginMobile{
      display: none;
    }
  } 
  
  .label {
    color: #A5220C !important;
  }
  .label-checkbox {
    color: $grey-3 !important;
    font-size: .9rem;
  }
  .label-end {
    color: $grey-3;
    font-size: .9rem;
    margin-left: 157px;
  }
  .label-end:hover {
    color: $grey-1;
  }
  .formLogin {
    background-color:$white;
    border-radius: 20px;
    width: 550px;
    height: 450px;
    position: absolute;
    color: $red-2;
    font-size: 17px;
    padding-left: 60px;
    padding-right: 60px;
  }
  .fields-custom {
    margin-top: 20px;
    text-align: left;
  }
  .btn-login {
    margin-top: 25px;
    background-color: $yellow-g;
    color: $white !important;
    width: 250px;
  }
  .gradient-color-overlay {
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, rgb(235, 174, 29), rgb(234, 87, 3), rgb(217, 0, 15));
    opacity: 0.7;
  }
  .background {
    background: #000 url("../assets/background-home.png");
    color: $white;
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover !important;
  }